Source: eta-icon-theme
Section: kde
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://pardus.org.tr

Package: eta-icon-theme
Architecture: all
Depends:
 hicolor-icon-theme,
 ${misc:Depends}
Description: Etkileşimli Tahta Arayüzü Simge Teması
 İçerisinde simge temasını barındıran ETAP a özel bir
 tema paketi.
